<!doctype html>
<html>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Demo: JSPM</h1>
      <h3>...importing angular + es6 + css with jspm</h3>

      <div class="form-group">
        <label for="text">Text</label>
        <input type="text" class="form-control" ng-model="text" id="text" placeholder="text">
      </div>
      <p ng-if="text">
        <code>{{ text }}</code>
      </p>
    </div>
  </div>

  <script src="jspm_packages/system.js"></script>
  <script src="jspm.config.js"></script>
  <script>

    // load common deps
    System
      .import('src/bootstrap.js')

      // load plugins
      .then(function () {

        return Promise.all([
          System.import('rbarilani/jspm-angular-1-plugin-hello-world'),
        ])

      })

      // declare angular main app module and load the app
      .then(function(plugins) {

        // extract angular modules name
        var ngModules = plugins.map(function (plugin) {
          return plugin.default.name;
        });

        // declare the app module
        angular.module('jspm-angular-1-app', ngModules);

        // load the angular app
        return Promise.all([System.import('src/main.js')]);

      })

      // finally bootstrap the angular app
      .then(function () {

        angular.bootstrap(document, ['jspm-angular-1-app']);

      });

  </script>
</body>
</html>
